body {
  margin: 10px;
  display: ;
  gap: 2em;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.product {
  width: auto;
  position: relative;
}

.main {
  position: ;
  top: 0;
  left: 0;
  width: 100%;
}

.sideColor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  }

.strA {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  }

.strB {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  }

.valve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  }

